{% extends 'plantilla.html' %}

{% block contenido %}
<style>
  /* Estilos personalizados para mejorar la apariencia */
  h1 {
    color: #ffc107;
    text-align: center;
    font-size: 36px;
    font-family: 'Arial', sans-serif;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  }

  h3 {
    color: #333;
    text-align: center;
    font-size: 35px;
    margin-bottom: 20px;
  }

  form {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
  }

  th,
  td {
    border: 1px solid #dee2e6;
    padding: 10px;
    text-align: center;
  }

  th {
    background-color: #007bff;
    color: #1c2833;
  }

  .btn-action {
    margin-right: 5px;
  }

  #btnEditar {
    padding: 4px 8px;
    font-size: 12px;
  }
</style>

<!-- Encabezado de la página -->
<br>
<h1>"Explora la diversidad de carreras"</h1>
<br>
<h3>Descubre las carreras disponibles en nuestra institución.</h3>

<!-- Sección izquierda con el formulario para ingresar nueva carrera -->
<div class="row">
  <div class="col-md-5">
    <!-- Formulario para guardar una nueva carrera -->
    <form action="{% url 'guardarCarrera' %}" method="post" enctype="multipart/form-data" id="guardarCarreraForm">
      {% csrf_token %}

      <!-- Campo para ingresar el nombre de la carrera -->
      <div class="form-group">
        <label for="nombreCarreraRAGP">Nombre del estudiante</label>
        <input type="text" name="nombreCarreraRAGP" id="nombreCarreraRAGP" class="form-control" placeholder="Ingrese el nombre del estudiante" required minlength="3" maxlength="100">
      </div>

      <!-- Campo para ingresar el nombre del estudiante -->
      <div class="form-group">
        <label for="estudianteRAGP">Nombre de la carrera</label>
        <input type="text" name="estudianteRAGP" id="estudianteRAGP" class="form-control" placeholder="Ingrese el nombre de la carrera" required minlength="3" maxlength="100">
      </div>

      <!-- Campo para ingresar el nombre del director de la carrera -->
      <div class="form-group">
        <label for="directorCarreraRAGP">Director de la carrera</label>
        <input type="text" name="directorCarreraRAGP" id="directorCarreraRAGP" class="form-control" placeholder="Ingrese el nombre del director de la carrera" required minlength="3" maxlength="100">
      </div>

      <!-- Campo para seleccionar la facultad de la carrera -->
      <div class="form-group">
        <label for="facultad">Facultad</label>
        <input type="text" name="facultad" id="facultad" class="form-control" placeholder="Ingrese la facultad" required minlength="3" maxlength="100">
      </div>

      <br>
      <b>Logo de la carrera:</b>
      <br><br>
      <input type="file" name="logoCarreraRAGP" accept="image/*" value="" class="form-control">
      <br><br>

      <div class="text-center">
        <button type="submit" name="button" class="btn btn-primary">Guardar</button>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button type="reset" name="button" class="btn btn-danger">Cancelar</button>
      </div>
    </form>
  </div>

  <!-- Sección derecha con el listado de carreras existentes -->
  <div class="col-md-7">
    <br>
    <!-- Tabla para mostrar el listado de carreras -->
    <table id="carrerasTable" class="table table-condensed">
      <thead>
        <tr>
          <th>ID</th>
          <th>Estudiante</th>
          <th>Nombre de la Carrera</th>
          <th>Director de Carrera</th>
          <th>Facultad</th>
          <th>Logo de Carrera</th>
          <th>ACCIONES</th>
        </tr>
      </thead>
      <tbody>
        <!-- Itera sobre las carreras y muestra sus detalles en la tabla -->
        {% for carrera in carreras %}
        <tr>
          <td>{{ carrera.idCarreraRAGP }}</td>
          <td>{{ carrera.nombreCarreraRAGP }}</td>
          <td>{{ carrera.estudianteRAGP }}</td>
          <td>{{ carrera.directorCarreraRAGP }}</td>
          <td>{{ carrera.facultad }}</td>
          <td>
            {% if carrera.logoCarreraRAGP %}
            <img src="{{ carrera.logoCarreraRAGP.url }}" alt="Logo de Carrera" style="max-width: 100px; max-height: 100px;">
            {% else %}
            <b>N/A</b>
            {% endif %}
          </td>
          <td>
            <div class="btn-group">
              <!-- Formulario de eliminación para cada carrera -->
              <form action="{% url 'eliminarCarrera' carrera.idCarreraRAGP %}" method="post" id="eliminarCarreraForm-{{ carrera.idCarreraRAGP }}" style="display: inline;">
                {% csrf_token %}
                <button type="button" class="btn btn-danger btn-xs" onclick="confirmarEliminacionCarrera('{{ carrera.idCarreraRAGP }}')">Eliminar</button>
              </form>
              <!-- Enlace para editar con ID -->
              <a href="{% url 'editarCarrera' carrera.idCarreraRAGP %}" id="btnEditar{{ carrera.idCarreraRAGP }}" class="btn btn-warning btn-xs">Editar</a>
            </div>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<!-- Bloque de scripts para DataTables -->
<script type="text/javascript">
  $(document).ready(function() {
    $('#carrerasTable').DataTable({
      dom: 'Bfrtip',
      language: {
        "decimal": "",
        "emptyTable": "No hay datos disponibles en la tabla",
        "info": "Explora la diversidad de carreras en nuestra institución",
        "infoEmpty": "Mostrando 0 a 0 de 0 entradas",
        "infoFiltered": "(filtradas de _MAX_ entradas totales)",
        "infoPostFix": "",
        "thousands": ",",
        "lengthMenu": "Mostrar _MENU_ entradas",
        "loadingRecords": "Cargando...",
        "processing": "Procesando...",
        "search": "Buscar:",
        "zeroRecords": "No se encontraron registros coincidentes",
        "paginate": {
          "first": "",
          "last": "",
          "next": "",
          "previous": "Los numero #"
        },
        "aria": {
          "sortAscending": ": activar para ordenar la columna ascendente",
          "sortDescending": ": activar para ordenar la columna descendente"
        }
      },
      buttons: [
        {
          extend: 'pdfHtml5',
          messageTop: 'PDF creado por PDFMake con botones para DataTables.'
        },
        'print',
        'csv'
      ]
    });
  });
</script>

<!-- Bloque de scripts para iziToast -->
<script>
  function confirmarEliminacionCarrera(idCarreraRAGP) {
    iziToast.question({
      timeout: 15000,
      close: true,
      overlay: true,
      displayMode: 'once',
      id: 'questionCarrera',
      zindex: 999,
      title: 'CONFIRMACIÓN',
      message: '¿Está seguro de eliminar la carrera seleccionada?',
      position: 'center',
      buttons: [
        ['<button><b>SÍ</b></button>', function (instance, toast) {
          instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
          // Encuentra el formulario asociado y envía el formulario
          var form = document.getElementById('eliminarCarreraForm-' + idCarreraRAGP);
          if (form) {
            form.submit();
          }
        }, true],
        ['<button>NO</button>', function (instance, toast) {
          instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
        }],
      ]
    });
  }

  // Validación del formulario de nueva carrera
  $("#guardarCarreraForm").validate({
    rules: {
      "nombreCarreraRAGP": {
        required: true,
        minlength: 3,
        maxlength: 100
      },
      "estudianteRAGP": {
        required: true,
        minlength: 3,
        maxlength: 100
      },
      "directorCarreraRAGP": {
        required: true,
        minlength: 3,
        maxlength: 100
      },
      "facultad": {
        required: true,
        minlength: 3,
        maxlength: 100
      },
      "logoCarreraRAGP": {
        required: true
      }
    },
    messages: {
      "nombreCarreraRAGP": {
        required: "Por favor ingrese el nombre de la carrera",
        minlength: "El nombre de la carrera debe tener al menos 3 caracteres",
        maxlength: "El nombre de la carrera no debe exceder los 100 caracteres"
      },
      "estudianteRAGP": {
        required: "Por favor ingrese el nombre del estudiante",
        minlength: "El nombre del estudiante debe tener al menos 3 caracteres",
        maxlength: "El nombre del estudiante no debe exceder los 100 caracteres"
      },
      "directorCarreraRAGP": {
        required: "Por favor ingrese el nombre del director de la carrera",
        minlength: "El nombre del director de la carrera debe tener al menos 3 caracteres",
        maxlength: "El nombre del director de la carrera no debe exceder los 100 caracteres"
      },
      "facultad": {
        required: "Por favor ingrese la facultad de la carrera",
        minlength: "El nombre de la facultad debe tener al menos 3 caracteres",
        maxlength: "El nombre de la facultad no debe exceder los 100 caracteres"
      },
      "logoCarreraRAGP": {
        required: "Seleccione la fotografía de la carrera"
      }
    },
    success: function (label) {
      // Este código se ejecutará cuando un campo se valide correctamente
      label.addClass('valid').text('Campo válido').css('color', 'green');
    },
    errorPlacement: function (error, element) {
      // Este código se ejecutará para personalizar la ubicación de los mensajes de error
      error.insertAfter(element).css("color", "red");
    }
  });
</script>

{% endblock %}
